
###> symfony/framework-bundle ###
*.env.local
*.env.dev
.env.dev
/.env.dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
# /config/jwt/*.pem  — keys are committed for deployment
###< lexik/jwt-authentication-bundle ###
